/* DEFAULT RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DEFAULT RESET */

/* ROOT VARIABLES */
:root {
    --main-white: #fff;
    --main-gray: #282828;
    --tag-color: #e7c05b;
}
/* END ROOT VARIABLES */

html {
    background-color: var(--main-white);
}

/* NAV & HERO */
header {
    height: 8vh;
    background-color: var(--main-white);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 10px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.nav-items li {
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hero a {
    color: var(--main-gray);
}

.recipe-title-box {
    background-color: var(--main-white);
    position: absolute;
    width: 360px;
    height: 300px;
    top: 200px;
    left: 200px;
    box-shadow: -8px 8px 0 0 rgba(40, 40, 40, 1);
}

.recipe-title-box ul {
    padding: 30px;
    list-style: none;
}

.recipe-title-box ul li:nth-of-type(1) {
    font-family: 'Domine', serif;
    font-size: 2rem;
    font-weight: 500;
}

.recipe-title-box ul li:nth-of-type(2) {
    background-color: var(--tag-color);
    padding: 8px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-white);
    text-align: center;
    margin: 20px 0 20px 0;
    transition: background 0.3s ease-out;
}

.recipe-title-box ul li:nth-of-type(2):hover {
    cursor: pointer;
    background-color: var(--main-gray);
}

.recipe-title-box ul li:nth-of-type(3) {
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 25px;
    line-height: 1.6rem;
}

.recipe-title-box ul li:nth-of-type(4) {
    max-width: 105px;
    font-family: 'Roboto', sans-serif;
}

.recipe-title-box ul li:nth-of-type(4)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-gray);
    transition: width .3s;
}

.recipe-title-box ul li:nth-of-type(4):hover::after {
    width: 100%;
    transition: width .3s;
}

.recipe-title-box a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hero-arrow {
    position: absolute;
    left: 118px;
    top: 247px;
    width: 15px;
}

.hero-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 75%;
}
/* END NAV & HERO */

/*BEGIN RECIPE GRID */

.recipe-grid {
    display: flex;
    padding: 50px;
}

.recipe-tile {
    max-width: calc(100% / 3);
    object-fit: cover;
    height: 500px;
}

.recipe-grid-title {
    position: absolute;
}